---
# Set the vault password here. DO NOT SET THIS ON A PUBLIC COMPUTER.
# vault_password: NOWAY
# Specify the path to your Enpass vault directory
# Linux
# vault_path: "~/Documents/Enpass/Vaults/primary"
# Darwin Sequoia
# valut_path" "~/Library/Containers/in.sinew.Enpass-Desktop/Data/Documents/Vaults/primary"
# Specify colors for JSON, YAML, and list output formats. Valid colors are:
# black-bold, black, blue-bold, blue, cyan-bold, cyan, green-bold, green, magenta-bold, magenta, red-bold, red, white-bold, white, yellow-bold, yellow
colors:
  alias_color: yellow-bold
  anchor_color: yellow-bold
  bool_color: yellow-bold
  key_color: cyan-bold
  null_color: black-bold
  number_color: magenta-bold
  string_color: green-bold
# Specify the output style: one of json, list, table, yaml
# Comment this line out to use the default output style
output_style: json
